@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Core Tokens */
    --mono-050: 0 0% 100%; /* #FFFFFF */
    --mono-100: 17 9% 85%; /* #DCD7D5 */
    --mono-200: 20 5% 77%; /* #C7C3C1 */
    --mono-300: 24 3% 68%; /* #B1AEAC */
    --mono-400: 230 2% 44%; /* #72706E */

    --base-emerald_black: 345 6% 13%; /* #231F20 */
    --base-warm_white: 26 20% 93%; /* #F1EDEA */
    --base-turquoise: 174 59% 44%; /* #2DB1A4 */
    --base-plum: 303 25% 50%; /* #9F5F9C */
    --base-mustard: 46 72% 51%; /* #DCB229 */

    --background: var(--base-warm_white);
    --foreground: var(--base-emerald_black);

    --plum: var(--base-plum);
    --plum-foreground: var(--base-warm_white);

    --turquoise: var(--base-turquoise);
    --turquoise-foreground: var(--base-emerald_black);

    --mustard: var(--base-mustard);
    --mustard-foreground: var(--base-emerald_black);

    --destructive: 0 100% 50%;

    --border: var(--mono-400);
    --input: var(--mono-100);
    --ring: var(--base-plum);

    --radius: 0.5rem;
    --radius-lg: 1rem;
  }

  .dark {
    --background: var(--emerald-black);
    --foreground: var(--warm-white);

    --border: var(--mono-400);
    --input: var(--mono-400);
    --ring: var(--turquoise);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .prototype {
    @apply ring-destructive ring-2;
  }
}
